@{
    ViewBag.Title = "Home Page";
}

<div style="margin-bottom:30%">
    <div class="row">
        <div class="col-md-6" style="text-align:center">
            <a href="@Url.Action("Login", "Home")" class="btn btn-default"> Login </a>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("Register", "Home")" class="btn btn-default" style="text-align:center"> Register </a>
        </div>
    </div>
</div>
